@model QueryWebApp.Models.Query

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Query</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="QueryQuestion" class="control-label"></label>
                <input asp-for="QueryQuestion" class="form-control" />
                <span asp-validation-for="QueryQuestion" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="QueryAnswer" class="control-label"></label>
                <input asp-for="QueryAnswer" class="form-control" />
                <span asp-validation-for="QueryAnswer" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
